input {
    font: inherit;
}



input[type="text"],
.tt-input
{
    padding: 5px 10px;
    border: 1px solid #bbb;
}

/*outline foucus of textbox*/
.tt-input:focus {
    outline: none;
}
.tt-menu
{
    margin-top:-1px;
}

.tt-dropdown-menu {
    width : 1000%;
    border: 1px solid #bbb;
    border-top: 0;
    padding: 0;
}

.tt-suggestion {
    margin-top:-10px;
    padding: 5px 45px;
    border: 1px solid #bbb;
    margin: 0;
    width:100%;
    height:30px;
    background-color: rgb(250, 247, 247);

    cursor: pointer;
}

.tt-suggestion p {
    margin:5px 0;
}

.tt-suggestion.tt-cursor {
    bacakgroundcolor: #ddd;
}

.tt-hint {
    color: #bbb;
}

/* span.twitter-typeahead {
    width: 380px;
} */
